.wrapper{
	width:60%;
	margin:0 auto;
	border:5px  solid #ddd;
}

label{
	font-size: 25px;
}

.first_name,  .last_name,  .email,  .phone_number,  .password{
	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
}